@model IEnumerable<ChattClient_MVC.ChattServiceReference.Message>


@{
    ViewBag.Title = "Home Page";
}
<div class="row chatt-box">
    <div class="col-md-3 user-list">
        <h2>Användare</h2>
        <p>Namnen här kanske?</p>
    </div>
    <div class="col-md-9 chatt-box">
        <h2>Chattruta</h2>
        @foreach (var message in Model)
            {
            <p>@message.TimeStamp</p>
            <p>@message.UserName:</p>
            <p>@message.MessageText</p>
            <hr />

        }
        <div class="chatt-input">
            <hr class="hr-options" />
            <form action="~/Home/SendMessage" method="post">
                <input class="chatt-text" type="text" name="textInput" value="textInput" />
                <button type="submit"> > </button>
            </form>
        </div>

    </div>
</div>