@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>

<div class="row chatt-box">
    <div class="col-md-3 user-list">
        <h2>Användare</h2>
        <p>Namnen här kanske?</p>
    </div>
    <div class="col-md-9 chatt-box">
        <h2>Chattruta</h2>
        <p>massa chatt-text här?</p>
        <div class="chatt-input">
            <hr class="hr-options" />
            <input class="chatt-text" type="text" />
            <button> > </button>
        </div>

    </div>
</div>