body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #a7a7a7;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.user-list {
    border-right: solid;
    height: 600px;
}

.chatt-box {
    max-height: 600px;
    height: 600px;
    width: 1024px;
}

.chatt-input {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.chatt-text {
    width: 95%;
}

.hr-options {
    border: solid 1px dimgrey !important;
}


.chat {
    width: 750px;
    margin: 0 auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
}

.chat-header {
    background: #75b1e8;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 15px;
}

.chat-history {
    height: 350px;
    overflow-y: auto;
    padding: 20px;
}

.chat-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.message {
    padding: 10px;
    border-radius: 5px;
    position: relative;
    word-break: break-all;
}

.message__user-name {
    font-size: 13px;
    font-weight: bold;
    color: #000;
}

.message__time {
    font-size: 11px;
    color: #999;
}

.message__text {
    font-size: 13px;
    color: #777777;
}

.btns-row {
    margin-top: 5px;
}

.chat-controls {
    margin-top: 10px;
    border-top: 1px solid #333;
    padding: 20px;
    padding-top: 10px;
}

.chat-controls__textarea {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 5px;
    resize: none;
    outline: none;
}

.chat-controls__btn {
    padding: 0 15px;
    background: #75b1e8;
    line-height: 25px;
    /*display: inline-block;*/
    color: #fff;
}

::-webkit-scrollbar {
    display: none;
}

li:hover {
    color: #999988 !important;
}
